body {
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
}

.hero-image {
  background-image: url("/images/leopardbackground.jpg");
  background-color: #cccccc;
  height: 600px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
  text-align: center;
  text-size-adjust: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color:white;
}

 
 